.vacancies__share-link_wa::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('../../../../images/vacancies/wa.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 13px;
}

.vacancies__share-link_wa:hover::before {
  background-image: url('../../../../images/vacancies/wa-light.svg');
}

@media (max-width: 900px) {
  .vacancies__share-link_wa::before {
    margin-right: 0;
    top: 25%;
    left: 25%;
    position: absolute;
  }
}