.faq__open-icon {
    background: url(../../../images/vacancies/open-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    transition: transform 1s;
}

.faq__open-icon :hover {
    background: url(../../../images/vacancies/hover-icon.svg);
    background-size: contain;

}

@media (max-width: 700px) {

    .faq__open-icon {
        width: 40px;
        height: 40px;
    }
    .faq__open-icon :hover {
        width: 40px;
        height: 40px;
    }
}
