.profession__goals-item{
  margin-bottom: 25px;
}

li{
  color: #377D5A;
  border-radius: 100px;
}

.profession__goals-item:last-child{
  margin-bottom: 0;
}

@media (max-width: 825px) {
  .profession__goals-item {
    margin-bottom: 20px;
  }
  li{
    padding-left: 20px;
  }
}