.nav__button {
  width: 175px;
  height: 45px;
  border: 1px solid #000000;
  backdrop-filter: blur(6px);
  border-radius: 120px;
  margin-left: 29px;
  background-color: transparent;
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
  text-decoration: none;
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight-400);
  font-size: 18px;
  line-height: 20px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__button:hover {
  color: var(--secondary-font-color);
  background-color: var(--from-light-to-hover-color);
  border-color: transparent;
}