.value__image{
  background-image: url(../../../../images/faculties/value.jpg);
  width: 100%;
  max-width: 472px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 93px;
}

@media (max-width: 980px) {
  .value__image {
    width: 290px;
    height: 300px;
    margin: 0 0 20px;
    align-self: center;
  }
}