.footer__text_font{
  font-weight: var(--secondary-font-weight-400);
  font-size: 32px;
  line-height: 32px;
  margin: 0;
}

@media (max-width: 990px) {
  .footer__text_font {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
  }
}