.card_big{
  width: 280px;
  height: 300px;
  margin-right: 8px;
}

.card_big:last-child {
  margin-right: 0;
}

@media (max-width: 425px) {
  .card_big {
    width: 345px;
    height: 140px;
    margin: 0 0 5px;
  }
}