<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta
      name="robots"
      content="noindex" />
    <meta
      content="HR landing"
      name="landing page for HR Practicum's team" />
    <meta
      content="Рушан Шакирзянов"
      name="owner" />
    <meta
      content="Елена Блаженских"
      name="coloborator" />
    <meta
      content="Станислав Симаков"
      name="coloborator" />
    <meta
      content="Анастасия Решетняк"
      name="design" />
    <meta
      content="Ольга Дехнич"
      name="design" />
    <meta
      content="Маргарита Толстова"
      name="design" />
    <title>Welcome to Practicum</title>
    <!--<link rel="stylesheet" href="./pages/index.css" />-->
  </head>

  <body class="page">
    <header class="header">
      <img class="header__image" src="<%=require('../images/header/PracticumsLogo.svg')%>" alt="Лого Яндекс Практикума">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list-item"><a class="nav__link" href="#">Задачи наставника</a></li>
          <li class="nav__list-item"><a class="nav__link" href="#">Задачи ревьюера</a></li>
          <li class="nav__list-item"><a class="nav__link" href="#">Факультеты</a></li>
          <li class="nav__list-item"><a class="nav__link" href="#">Вакансии</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section
        class="block-1"
        aria-label="">
        @@include('../partials/section-test.html')

      </section>
      <section
        class="block-2"
        aria-label=""></section>
      <section
        class="block-3"
        aria-label=""></section>
      <section
        class="block-4"
        aria-label=""></section>
      <section
        class="block-5"
        aria-label=""></section>
      <section
        class="block-6"
        aria-label=""></section>
      <section
        class="block-7"
        aria-label=""></section>
      <section
        class="block-8"
        aria-label=""></section>
      <section
        class="block-9"
        aria-label=""></section>
    </main>

    <footer class="footer">
      <p class="footer__copyright">© 2022. Foxylab</p>
    </footer>

    <div
      class="popup"
      id="">
      <div class="popup__container">
        <h2 class="popup__header"></h2>
        <form
          class="popup__form"
          id=""
          name=""
          autocomplete="on"
          novalidate>
          <fieldset class="popup__fieldset">
            <button
              class="popup__button"
              type="submit"
              disabled>
              Сохранить
            </button>
          </fieldset>
        </form>
        <button
          class="popup__form-closer"
          id=""
          type="button"
          aria-label="Закрыть форму"></button>
      </div>
    </div>

    <div
      class="popup"
      id="">
      <figure class="popup__figure">
        <button
          class="popup__form-closer"
          id=""
          type="button"
          aria-label="Закрыть вакансию"></button>
        <img
          class="popup__figure-img"
          src="#"
          alt="" />
        <figcaption class="popup__figure-caption"></figcaption>
      </figure>
    </div>

    <div
      class="popup"
      id="popup-confirm">
      <div class="popup__container popup__container_input_noinputs">
        <h2 class="popup__header popup__header_input_noinputs">Вы уверены?</h2>
        <form
          class="popup__form"
          id="form-confirm"
          name="popupConfirm">
          <fieldset class="popup__fieldset">
            <button
              class="popup__button popup__button_type_disable"
              type="submit"
              disabled>
              Да
            </button>
          </fieldset>
        </form>
        <button
          class="popup__form-closer popup__form-closer_card"
          id="confirm-closer"
          type="button"
          aria-label="Закрыть форму"></button>
      </div>
    </div>

    <template
      class="element"
      id="element-template">
      <div class="element">
        <div class="element__ordering">
          <img
            class="element__image"
            src="#"
            alt="" />
          <button class="element__delete"></button>
          <div class="element__caption-group">
            <h2 class="element__caption"></h2>
            <div class="element__like-container">
              <button
                class="element__like"
                type="button"></button>
              <span
                class="element__like-quantity"
                id="like-quantity"></span>
            </div>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
