.result__text{
  font-size: 32px;
  font-weight: var(--primary-font-weight-500);
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

@media (max-width: 425px) {
  .result__text{
    font-size: 20px;
    line-height: 26px;
    margin-top: 50px;
    width: 345px;
  }
}