.vacancies__vacancy-summary-container {
    border-bottom: 1px solid var(--primary-font-color);
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "title icon"
    "subtitle icon";
}

@media (max-width: 900px) {
    .vacancies__vacancy-summary-container {
        grid-template-columns: auto 30px;
    }
}