.vacancies__position {
    font-style: var(--primary-font-style);
    font-weight: var(--secondary-font-weight-400);
    font-size: 24px;
    line-height: 32px;

    padding: 0;
    margin: 0;
    width: 245px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-font-color);
    background-color: var(--footer-background-background-color);
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.vacancies__position:hover {
    background-color: var(--from-light-to-hover-color);
    color: var(--secondary-font-color);
}

.vacancies__position:first-child {
    border-radius: 15px 0px 0px 15px;
}
.vacancies__position:last-child {
    border-radius: 0px 15px 15px 0px;
}
