.vacancies__position {
    font-style: var(--primary-font-style);
    font-weight: var(--secondary-font-weight-400);
    font-size: 24px;
    line-height: 32px;
    border: 1px solid #858585;

    padding: 0;
    margin: 0;
    width: 245px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-font-color);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    user-select: none;
}

.vacancies__position:hover {
    background-color: var(--from-light-to-hover-color);
    color: var(--secondary-font-color);
}

.vacancies__position-container:first-child .vacancies__position{
    border-radius: 15px 0px 0px 15px;
}
.vacancies__position-container:last-child .vacancies__position{
    border-radius: 0px 15px 15px 0px;
}

.vacancies__position-radio:checked + .vacancies__position {
	background: var(--primary-button-background-color);
    color: var(--secondary-font-color);
}

@media (max-width: 900px) {
    .vacancies__position {
        font-size: 16px;
        width: 155px;
        height: 40px;
    }
}