.call__image {
  width: 521px;
  height: 578px;
  background-image: url('../../../images/call/main-image.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1020px) {
  .call__image {
    background-image: url('../../../images/call/mobile-image.png');
    width: 345px;
    height: 420px;
    margin-bottom: 20px;
  }
}