.conditions__plates {
  display: grid;
  grid-template-columns: auto auto;
  gap: 26px;
  margin-top: 40px;
}

@media (max-width: 950px) {
  .conditions__plates {
    gap: 15px;
  }
}

@media (max-width: 750px) {
  .conditions__plates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
}