.faq__answer-text {
    max-width: 870px;
    font-style: var(--primary-font-style);
    font-weight: var(--secondary-font-weight-400);
    font-size: 20px;
    line-height: 28px;

    color: var(--primary-font-color);
}