.vacancies__not-found-message {
    display: none;
    font-style: var(--primary-font-style);
    font-weight: var(--secondary-font-weight-400);
    font-size: 18px;
    line-height: 26px;
    margin: 30px 0 100px;

}

@media (max-width: 900px) {
    .vacancies__not-found-message {
        font-size: 16px;
        line-height: 19px;
        margin: 30px 15px 50px;
    }
}