.result{
  width: 1140px;
  height: 529px;
  padding: 80px 0 0 50px;
/*   visibility: hidden; */
/*   display: none; */
}

@media (max-width: 425px) {
  .result {
    width: 375px;
    height: 590px;
    padding: 0;
  }
}