.vacancies__share-button {
  width: 194px;
  height: 60px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 120px;
  font-weight: var(--secondary-font-weight-400);
  font-size: 18px;
  line-height: 144%;
  display: flex;
  align-items: center;
  padding-left: 64px;
  position: relative;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.vacancies__share-button::before {
    content: '';
    position: absolute;
    background-image: url('../../../images/vacancies/share.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    top: 18px;
    left: 30px;
}

.vacancies__share-button:hover {
    background-color: var(--from-light-to-hover-color);
    color: var(--secondary-font-color);
}