.faq__title {
  margin: 0 150px 40px;
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight-500);
  font-size: 40px;
  line-height: 48px;
  max-width: 1140px;
  color: var(--primary-font-color);
}

@media (max-width: 700px) {
  .faq__title {
    margin: 0 15px 15px;
    font-size: 24px;
    line-height: 28px;
  }
}
