.vacancies__share-link_chain::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('../../../../images/vacancies/chain.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 13px;
}

.vacancies__share-link_chain:hover::before {
  background-image: url('../../../../images/vacancies/chain-light.svg');
}

@media (max-width: 900px) {
  .vacancies__share-link_chain::before {
    margin-right: 0;
    top: 25%;
    left: 25%;
    position: absolute;
  }
}