.vacancies__share-link {
  color: var(--primary-font-color);
  text-decoration: none;
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight-400);
  font-size: 18px;
  line-height: 144%;
  display: flex;
  width: 229px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  transition: all 0.5s ease;
  position: relative;
}

.vacancies__share-link:hover {
  background-color: var(--from-light-to-hover-color);
  color: var(--secondary-font-color);
}
