.value__trust{
  margin: 0;
  font-size: 32px;
  font-weight: var(--primary-font-weight-500);
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

@media (max-width: 425px) {
  .value__trust {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
}