.result__choice{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 60px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: var(--secondary-font-weight-400);
  line-height: 20px;
  letter-spacing: 0px;
  border-radius: 120px;
  background: #373737;
  margin-top: 72px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 425px) {
  .result__choice{
    margin: 280px auto 0;
  }
}