.mobile__link {
  color: var(--primary-font-color);
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight-400);
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  padding: 15px 23px 15px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease;
}

.mobile__link:hover {
  background-color: var(--from-light-to-hover-color);
  color: var(--secondary-font-color);
}
