.card{
  position: relative;
  width: 374px;
  height: 186px;
  margin-right: 8px;
  margin-bottom: 11px;
  cursor: pointer;
}

.card:last-of-type{
  margin-right: 0;
}

@media (max-width: 425px) {
  .card {
    width: 345px;
    height: 140px;
    margin: 0 0 5px;
  }
}