.card{
  position: relative;
  width: 360px;
  height: 186px;
  margin-right: 8px;
  cursor: pointer;
}

.card:last-child {
  margin-right: 0;
}

@media (max-width: 425px) {
  .card {
    width: 345px;
    height: 140px;
    margin: 0 0 5px;
  }
}