.form__item_type_text-area {
  min-height: 129px;
  margin: 0;
}

@media (max-width: 850px) {
  .form__item_type_text-area {
    min-height: 92px;
    width: 70%;
  }
}

@media (max-width: 550px) {
  .form__item_type_text-area {
    width: 100%;
  }
}