.vacancies__area-filter {
    margin: 0 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .vacancies__area-filter {
        margin: 0 0 14px;
        padding: 5px 0;
    }
}