.profession{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 1440px;
}

@media (max-width: 1025px) {
  .profession {
    width: 345px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}