.popup__container {
  background: var(--secondary-background-color);
  border-radius: 50px;
  margin: 0;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
  width: 1271px;
}

