.card__back{
  outline: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
  transform: perspective(300px) rotateY(180deg);
  width: 100%;
  height: 100%;
  background: #E1F0E6;
}

@media (max-width: 500px) {
  .card__back{
    transform:none;
    visibility: hidden;
  }
}