.conditions__plate-text {
  margin: 15px 0;
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight-400);
  font-size: 18px;
  line-height: 144%;
  color: var(--secondary-font-color-alfa);
}

@media (max-width: 950px) {
  .conditions__plate-text {
    font-size: 14px;
    line-height: 16px;
  }
}
