.profession__block{
  display: flex;
  flex-direction: column;
  padding: 40px 65px 60px;
  background: #FFFFFF;
  border-radius: 50px;
}

@media (max-width: 425px) {
  .profession__block {
    padding: 25px 15px 30px;
    border-radius: 30px;
  }
}