.vacancies__not-found-options {
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(2, 315px);
    gap: 30px;
}

@media (max-width: 900px) {
    .vacancies__not-found-options {
        grid-template-columns: 100%;
        gap: 15px;
    }
}