.result__block{
  display: grid;
  grid-template-columns: 535px 422px;
  gap: 64px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .result__block {
    width: 375px;
    height: 590px;
    position: relative;
  }
}