.stories{
  margin: 0 auto 100px 150px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

@media (max-width:877px) {
  .stories {
    margin: 0 auto 105px auto;
    padding: 0 15px;
  }
}