.stories{
  margin: 0 150px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 425px) {
  .stories {
    margin: 0;
    max-width: 375px;
    max-height: 570px;
    padding-left: 15px;
  }
}