.expert__steps {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: row dense;
  /* max-width: 1140px;
  margin: 0 auto; */
  /* 
  object-fit: cover; */
  /* background-image: url('../../../images/conditions/steps.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1183px;
  height: 287px; */
}

@media (max-width: 1110px) {
  .expert__steps {
    grid-template-columns: repeat(1, auto);
    
  }
}