.vacancies__options {
  margin: 65px 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

@media (max-width: 900px) {
  .vacancies__options {
    margin: 0 0 0;
    flex-direction: column;
    align-items: center;
  }
}