.vacancies__open-icon {
   background: url(../../../images/vacancies/open-icon.svg);
   grid-area: icon;
   background-repeat: no-repeat;
   width: 60px;
   height: 60px;
   transition: transform 1s ease, background 1s ease;
}

.vacancies__open-icon:hover {
   background: url(../../../images/vacancies/hover-icon.svg);
}
