.form__thanks-title {
    font-style: var(--primary-font-style);
    font-weight: var(--primary-font-weight-500);
    font-size: 32px;
    line-height: 48px;
    text-align: center;

    color: var(--primary-font-color);
    margin: 0 0 15px;
}

@media (max-width: 850px) {
    .form__thanks-title {
        max-width: 85%;
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 26px;
    }
}